@model IEnumerable<MVCApp.ViewModels.ContractChanges>
@{
    ViewBag.Title = "ChangeHistory";
    ViewBag.ModalHeader = "History";
    ViewBag.SurveyModalHeader = "Survey";
    ViewBag.SurveyModalTitle = "Please Review your current information.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool showOptout = ViewBag.showOptout;
}
<h2>@ViewBag.Title</h2>


<p> Forms Pending: @ViewBag.pending</p>
<!--ADD Another Partial view here for the table, the table that is showing contract changes.-->
<!--1. have table, click on a button to open up -->
<!--Button will be used for each row. When clicked will get the Id of the EmployeeContractChange-->

@Html.Partial("ChangeHistoryTable", Model);

<!--Will need to determine if we can add buton and pass the row selected to modal-->
<!--<button id="History" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeHistoryModal"></button>-->



@Html.Partial("ChangeHistoryModal");


@if (!showOptout)
{
    <!--data-toggle="tooltip" data-placement="top" title="Reset your account credentials to previous change?"-->
    <button data-toggle="modal" disabled data-placement="top" title="Reset your account credentials to previous change?"
            id="disabledOptOut" type="button" class="btn btn-info btn-lg" onclick="callContractChangeFormModal()">
        Reset Account
    </button>

}


@if (showOptout)
{
    <!--data-toggle="tooltip" data-placement="top" title="Reset your account credentials to previous change?"-->
    <button data-toggle="modal" data-placement="top" title="Reset your account credentials to previous change?"
            id="test" type="button" class="btn btn-info btn-lg" onclick="callContractChangeFormModal()">
        Reset Account
    </button>
}




@Html.Partial("~/Views/Shared/CreateContractChangeFormModal.cshtml");



@section Scripts
{
    <script>
        var submitSurvey = "@ViewBag.submitSurvey" != "True" ? false : true;
        var showSurvey = "@ViewBag.showSurvey" != "True" ? false : true;

        $('[data-toggle="tooltip"]').tooltip();
        function showModals(info)
        {
            console.log('came in here too.')
           
            var showingModal = $('#changeHistoryModal').hasClass('in');
            if (!showingModal && info.modalName == "changeHistoryModal")
            {
                $("#contracts").load("@Html.Raw(Url.Action("ChangeHistory", "HR"))", new { changeLogID: info.cId, employeeID: info.eId });
                $('#changeHistoryModal').modal('show');
            }
            else if (!showingModal == "updateContractModal")
            {
                //$("#updaateContract").load("@Html.Raw(Url.Action("LoadContractChangeForm", "FormUpdates"))", { employeeID= eId, role= "Admin" });
                //$('#updateContractModal').modal('show');
            }
            else
            {
                //$("#CreateContractChangeForm").load("@Html.Raw(Url.Action("OptOutForm", "FormUpdates"))", {role="NonAdmin"});
                //$('#createContractChangeFormModal').modal('show');
            }
        }

        if (!submitSurvey && showSurvey) {//Survey the User
            $("#CreateContractChangeForm").load("@Html.Raw(Url.Action("LoadContractChangeForm", "FormUpdates"))");
            //$('#createContractChangeFormModal').modal();
            $("#createContractChangeFormModal").modal({ "backdrop": "static" });
        }
            


      
    </script>
}