@model MVCApp.ViewModels.HRDashboardViewModel
@{
    ViewBag.Title = "ChangeHistory";
    ViewBag.ModalHeader = "History";
    ViewBag.SurveyModalHeader = "Survey";
    ViewBag.SurveyModalTitle = "Please Review your current information.";
    ViewBag.form = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool showOptout = ViewBag.showOptout;
}
<h2>@ViewBag.Title</h2>


<p> Forms Pending: @ViewBag.pending</p>
<!--ADD Another Partial view here for the table, the table that is showing contract changes.-->
<!--1. have table, click on a button to open up -->
<!--Button will be used for each row. When clicked will get the Id of the EmployeeContractChange-->

@Html.Partial("ChangeHistoryTable", Model.ContractChanges)

<!--Will need to determine if we can add buton and pass the row selected to modal-->
<!--<button id="History" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeHistoryModal"></button>-->



@Html.Partial("ChangeHistoryModal")

@Html.Partial("UpdateContractModal", Model)

@if (!showOptout)
{
    <!--data-toggle="tooltip" data-placement="top" title="Reset your account credentials to previous change?"-->
    <button data-toggle="modal" disabled data-placement="top" title="Reset your account credentials to previous change?"
            id="disabledOptOut" type="button" class="btn btn-info btn-lg" onclick="callContractChangeFormModal()">
        Reset Account
    </button>

}


@if (showOptout)
{
    <!--data-toggle="tooltip" data-placement="top" title="Reset your account credentials to previous change?"-->
    <button data-toggle="modal" data-placement="top" title="Reset your account credentials to previous change?"
            id="test" type="button" class="btn btn-info btn-lg" onclick="callContractChangeFormModal()">
        Reset Account
    </button>
}




@Html.Partial("~/Views/Shared/SetupContractChangeFormModal.cshtml")



@section Scripts
{
    <script>
        var submitSurvey = "@ViewBag.submitSurvey" != "True" ? false : true;
        var showSurvey = "@ViewBag.showSurvey" != "True" ? false : true;
        var clickedEditBtn = false;

        

        $('[data-toggle="tooltip"]').tooltip();
        $("#editBtn").mouseover(function () {
            clickedEditBtn = true;
        })
        .mouseout(function () {
            clickedEditBtn = false;
        });

        function showModals(info)
        {
            var showingModal = $('#changeHistoryModal').hasClass('in');
            if (!showingModal && info.modalName == "changeHistoryModal" && !clickedEditBtn)
            {//shows change history when clicking on table row.
                $("#contracts").load("@Html.Raw(Url.Action("ChangeHistory", "HR"))", { employeeID: info.eId, changeLogID: info.cId });
                $('#changeHistoryModal').modal('show');
            }
            else if (!showingModal && info.modalName == "updateContractModal")
            {//HR worker is editing employee's contract.
                //shows update contract modal to allow HR staff to edit  (creates entries into EmployeeContractChanges table) a users current Pending/Edited Contract form
                $("#updateContract").load("@Html.Raw(Url.Action("LoadContractChangeForm", "FormUpdates"))", { employeeID: info.eId, form: "editing" });
                $('#UpdateContractModal').modal('show');

                //NOTE NEED TO REFRESH THE CONTRACTCHANGEHISTORY.
                
            }
            else
            {//Loads the HR employee's own OptOut form.

                //$("#CreateContractChangeForm").load("@Html.Raw(Url.Action("OptOutForm", "FormUpdates"))", {action="Show"});
                //$('#createContractChangeFormModal').modal('show');
            }
        }

        if (!submitSurvey && showSurvey) {//HR worker is recieving their own survey.
            $("#SetupContractChangeForm").load("@Html.Raw(Url.Action("LoadContractChangeForm", "FormUpdates"))", { form: "survey" });
            //$('#createContractChangeFormModal').modal();
            $("#setupContractChangeFormModal").modal({ "backdrop": "static" });
        }
        function hitSubmit() {
            submitSurvey = true;
            $("#setupContractChangeFormModal").modal('hide');
        }



    </script>
}