@model IEnumerable<MVCApp.ViewModels.ContractChanges>

@{
    Layout = null;

   
}


<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th># </th>
        <th>Edited Address</th>
        <th>Edited City</th>
        <th>Edited State</th>
        <th>Edited Zipcode</th>
        <th>Edited Country</th>
        <th>Edited Email</th>
        <th>Edited HomePhone</th>
        <th>Edited Last Name</th>
        <th>Status </th>
        <th>UpdatedOn</th>
        <th>Approve</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr id="rows" 
            onclick="callModal({ ChangeLogID: @d.ChangeLogID, EmployeeID: @d.EmployeeID })
            "data-toggle="tooltip" data-placement="top" title="Show History?">
            <td>@d.ChangeLogID</td>
            <td>@d.NewAddress</td>
            <td>@d.NewCity</td>
            <td>@d.NewState</td>
            <td>@d.NewZipcode</td>
            <td>@d.NewCountry</td>
            <td>@d.NewEmail</td>
            <td>@d.NewHomePhone</td>
            <td>@d.NewLastName</td>
            <td>@d.StatusName</td>
            <td>@d.UpdatedOn</td>

            <td>
                <div class="btn-group">
                    <button id="contractApprove" disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateContractModal">Edit</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Approve</a>
                        <a class="dropdown-item" href="#">Edit</a>
                    </div>
                    <button id="contractUpdate" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateContractModal">Edit</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Approve</a>
                        <a class="dropdown-item" href="#">Edit</a>
                    </div>
                </div>




            </td>           

        </tr>
    }
</table>

